<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.nacelle_rent.dao.ElectricBoxMapper">
    <resultMap id="electricBoxMap" type="com.manager.nacelle_rent.entity.RealTimeData">
        <result property="device_id" column="device_id" />
        <result property="bool_data_int32" column="bool_data_int32" />
        <result property="current" column="current" />
        <result property="degree" column="degree" />
        <result property="longitude" column="longitude" />
        <result property="latitude" column="latitude" />
        <result property="altitude" column="altitude" />
        <result property="timestamp" column="timestamp" />
        <result property="weight" column="weight" />
    </resultMap>
    <select id="getRealTimeDataById" resultMap="electricBoxMap" parameterType="String">
        SELECT *
        FROM   electricbox_currentdata
        WHERE  device_id= #{device_id}
    </select>
    <delete id="deleteRealTimeDateById">
        DELETE FROM electricbox_currentdata
        WHERE device_id = #{deviceId}
    </delete>
</mapper>