<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.nacelle_rent.dao.ElectricBoxMapper">
    <resultMap id="electricBoxMap" type="com.manager.nacelle_rent.entity.RealTimeData">
        <result property="device_id" column="device_id" />
        <result property="bool_data_int32" column="bool_data_int32" />
        <result property="current" column="current" />
        <result property="degree" column="degree" />
        <result property="longitude" column="longitude" />
        <result property="latitude" column="latitude" />
        <result property="altitude" column="altitude" />
        <result property="timestamp" column="timestamp" />
        <result property="weight" column="weight" />
        <result property="csq" column="csq"/>
        <result property="bketStat" column="bket_stat"/>
        <result property="productKey" column="product_key"/>
    </resultMap>
    <insert id="updateElectricBoxConfigByHoist" parameterType="String">
        INSERT INTO electricbox_config(device_id,hoist_id)
        VALUES (#{deviceId},#{hoistId})
        ON DUPLICATE KEY UPDATE
        device_id =VALUES(device_id),hoist_id=VALUES(hoist_id)
    </insert>

    <insert id="updateElectricBoxConfigByCamera" parameterType="String">
        INSERT INTO electricbox_config(device_id,camera_id)
        VALUES (#{deviceId},#{cameraId})
        ON DUPLICATE KEY UPDATE
        device_id =VALUES(device_id),camera_id=VALUES(camera_id)
    </insert>

    <insert id="updateElectricBoxConfigBySafeLock" parameterType="String">
        INSERT INTO electricbox_config(device_id,safe_lock_id)
        VALUES (#{deviceId},#{safeLockId})
        ON DUPLICATE KEY UPDATE
        device_id =VALUES(device_id),safe_lock_id=VALUES(safe_lock_id)
    </insert>

    <select id="getRealTimeDataById" resultMap="electricBoxMap" parameterType="String">
        SELECT *
        FROM   electricbox_currentdata
        WHERE  device_id= #{device_id}
    </select>

    <delete id="deleteRealTimeDateById">
        DELETE FROM electricbox_currentdata
        WHERE device_id = #{deviceId}
    </delete>

    <update id="deleteElectricBoxConfigByHoist">
        UPDATE electricbox_config
        SET hoist_id = null
        WHERE device_id = #{deviceId}
    </update>

    <update id="deleteElectricBoxConfigByCamera">
        UPDATE electricbox_config
        SET camera_id = null
        WHERE device_id = #{deviceId}
    </update>

    <update id="deleteElectricBoxConfigBySafeLock">
        UPDATE electricbox_config
        SET safe_lock_id = null
        WHERE device_id = #{deviceId}
    </update>

</mapper>