<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.nacelle_rent.dao.PreStopMapper">
    <resultMap id="preStopResultMap" type="com.manager.nacelle_rent.entity.PreStop">
        <result property="id" column="id" />
        <result property="date" column="date" />
        <result property="days" column="days"/>
        <result property="num" column="num"/>
        <result property="projectId" column="project_id"/>
    </resultMap>

    <insert id="createPreStop">
        INSERT INTO prestop(date,days,num,project_id)
        VALUES(#{date},#{days},#{num},#{projectId})
    </insert>

    <delete id="deleteOutDate">
        DELETE FROM prestop
        WHERE #{dateNow} > prestop.date
    </delete>

    <select id="sum" resultType="int">
        SELECT SUM(prestop.num)
        FROM prestop
        WHERE (prestop.date BETWEEN #{dateNow} AND #{dateAfter})
    </select>

    <select id="all" resultType="int">
        SELECT SUM(prestop.num)
        FROM prestop
    </select>

    <select id="getPreStopInfo" resultMap="preStopResultMap">
        SELECT *
        FROM prestop
        WHERE (prestop.date BETWEEN #{dateNow} AND #{dateAfter})
    </select>


</mapper>